<h3>
  Reatividade com intervalos de números - Angular
</h3>
<div>
  <div>
    <label>
      Contador
      <input
        type="number"
        min="1"
        max="200"
        [(ngModel)]="currentValue"
      >
    </label>
  </div>

  <ul>
    <li *ngFor="let divisor of divisors">
      Números divisíveis por {{ divisor }}:
      <span *ngFor="let number of getDivisiveisPor(divisor)">{{ number + ' ' }}</span>
    </li>
  </ul>
</div>
